<div class="appbar-container">
  <kendo-dialog
    title="User Preferences"
    *ngIf="isModalOpen"
    (close)="closeModal()"
    [minWidth]="250"
    [width]="450"
    [height]="450"
  >
    <kendo-dialog-messages>
      <!-- <kendo-dropdownbutton [data]="userData" fillMode="outline">
        User Settings
      </kendo-dropdownbutton> -->
      <div class="col-xs-12 col-sm-6 example-col">
        <kendo-label class="k-form" text="User email:">
          <kendo-textbox
            [disabled]="true"
            placeholder="user email"
            [value]="userEmail"
          ></kendo-textbox>
        </kendo-label>
      </div>
      <div class="col-xs-12 col-sm-6 example-col">
        <kendo-label class="k-form" text="User category:">
          <kendo-textbox
            [disabled]="true"
            placeholder="user category"
            [value]="userCategory"
          ></kendo-textbox>
        </kendo-label>
      </div>
      <div class="col-xs-12 col-sm-6 example-col">
        <kendo-label text="Selected lab:">
          <br />
          <kendo-dropdownlist
            [data]="labNameList"
            [value]="selectedLab"
            (selectionChange)="labValueChange($event)"
          >
          </kendo-dropdownlist>
        </kendo-label>
      </div>
      <!-- <div class="col-xs-12 col-sm-6 example-col">
        <kendo-label text="Selected country:">
          <br />
          <kendo-dropdownlist
            [data]="country"
            [value]="selectedCountry"
            (selectionChange)="countryValueChange($event)"
          >
          </kendo-dropdownlist>
        </kendo-label>
      </div> -->
      <div class="col-xs-12 col-sm-6 example-col">
        <kendo-label text="Selected HVI version:">
          <br />
          <kendo-dropdownlist
            [data]="hviVersionsList"
            [value]="selectedHviVersion"
            (selectionChange)="hviValueChange($event)"
          >
          </kendo-dropdownlist>
        </kendo-label>
      </div>
    </kendo-dialog-messages>
  </kendo-dialog>
  <kendo-appbar position="top">
    <kendo-appbar-section>
      <!-- <button kendoButton fillMode="flat" type="button">
        <kendo-svgicon [icon]="menuIcon"></kendo-svgicon>
      </button> -->
    </kendo-appbar-section>

    <kendo-appbar-section>
      <kendo-avatar
        [imageSrc]="wislogo"
        shape="circle"
        width="50px"
        height="50px"
      ></kendo-avatar>
      <h1 class="title">{{ sectionName }}</h1>
    </kendo-appbar-section>

    <kendo-appbar-spacer width="32px"></kendo-appbar-spacer>

    <kendo-appbar-section>
      <button
        type="button"
        kendoButton
        [size]="'large'"
        [rounded]="'medium'"
        [fillMode]="'solid'"
        [themeColor]="'info'"
        class="nav-button"
        (click)="handleEditNav()"
        *ngIf="isManagerUp"
      >
        Edit Template
      </button>
      <button
        type="button"
        kendoButton
        [size]="'large'"
        [rounded]="'medium'"
        [fillMode]="'solid'"
        [themeColor]="'error'"
        class="nav-button"
        (click)="handleUploadNav()"
      >
        New
      </button>
      <button
        type="button"
        kendoButton
        [size]="'large'"
        [rounded]="'medium'"
        [fillMode]="'solid'"
        [themeColor]="'success'"
        class="logout-button"
        class="nav-button"
        (click)="handlePdfNav()"
      >
        View Reports
      </button>
    </kendo-appbar-section>

    <kendo-appbar-spacer></kendo-appbar-spacer>

    <kendo-appbar-section>
      <span class="lab-name">{{ selectedLab }}</span>
      <kendo-avatar
        [imageSrc]="kendokaAvatar"
        shape="circle"
        width="40px"
        height="40px"
        class="avatar-section"
        (click)="openModal()"
      ></kendo-avatar>
    </kendo-appbar-section>
    <kendo-appbar-section>
      <button
        type="button"
        kendoButton
        [size]="'large'"
        [rounded]="'medium'"
        [fillMode]="'solid'"
        [themeColor]="'error'"
        class="logout-button"
        (click)="handleLogOut()"
      >
        Logout
      </button>
    </kendo-appbar-section>
  </kendo-appbar>
</div>
