<div class="example-wrap">
  <form class="k-form k-form-md" [formGroup]="registerForm">
    <fieldset class="k-form-fieldset">
      <legend class="k-form-legend">Login to WIS PDF Generator</legend>

      <kendo-formfield>
        <kendo-label
          labelCssClass="k-form-label"
          [for]="email"
          text="email"
        ></kendo-label>
        <kendo-textbox
          formControlName="email"
          #email
          required
          placeholder="Enter email"
        ></kendo-textbox>

        <!-- <kendo-formhint>You email</kendo-formhint> -->
        <kendo-formerror> Email is required</kendo-formerror>
      </kendo-formfield>
      <kendo-formfield>
        <kendo-label
          labelCssClass="k-form-label"
          [for]="password"
          text="Password"
        ></kendo-label>
        <kendo-textbox
          formControlName="password"
          #password
          required
          placeholder="enter Password"
        ></kendo-textbox>

        <!-- <kendo-formhint>Your Password</kendo-formhint> -->
        <kendo-formerror>Password is required</kendo-formerror>
      </kendo-formfield>

      <div class="k-form-buttons">
        <button
          kendoButton
          [size]="'large'"
          [rounded]="'medium'"
          [fillMode]="'solid'"
          [themeColor]="'success'"
          (click)="onSignIn()"
        >
          Submit
        </button>
      </div>
    </fieldset>
  </form>
  <p class="alert alert-danger" *ngIf="error" role="alert">{{ error }}</p>
</div>
