<div class="login-section">
  <form
    class="k-form k-form-md"
    [formGroup]="registerForm"
    (keydown)="onKeyDown($event)"
  >
    <fieldset class="k-form-fieldset">
      <h1 class="k-form-legend">WIS PDF GENERATOR - LOGIN</h1>
      <kendo-formfield>
        <kendo-label
          labelCssClass="k-form-label"
          [for]="email"
          text="Email"
        ></kendo-label>
        <kendo-textbox
          formControlName="email"
          #email
          required
          placeholder="Enter email"
        ></kendo-textbox>

        <!-- <kendo-formhint>You email</kendo-formhint> -->
        <kendo-formerror> Email is required</kendo-formerror>
      </kendo-formfield>
      <kendo-formfield>
        <kendo-label
          labelCssClass="k-form-label"
          [for]="password"
          text="Password"
        ></kendo-label>
        <kendo-textbox
          formControlName="password"
          #password
          required
          type="password"
          placeholder="enter Password"
        ></kendo-textbox>
        <!-- <kendo-formhint>Your Password</kendo-formhint> -->
        <kendo-formerror>Password is required</kendo-formerror>
      </kendo-formfield>

      <div class="k-form-buttons">
        <button
          type="button"
          kendoButton
          [size]="'large'"
          [rounded]="'medium'"
          [fillMode]="'solid'"
          [themeColor]="'success'"
          (click)="onSignIn()"
        >
          Submit
        </button>
      </div>
    </fieldset>
  </form>
  <div class="loader-wrapper" *ngIf="isLoading">
    <div class="loader">
      <div class="k-block">
        <kendo-loader
          [type]="loader.type"
          [themeColor]="loader.themeColor"
          [size]="loader.size"
        >
        </kendo-loader>
      </div>
    </div>
  </div>

  <p class="alert alert-danger" *ngIf="error" role="alert">{{ error }}</p>
</div>
