<div class="qrcode-wrapper">
  <div *ngIf="!isLoading && dbEntryData[0] != null; else loading">
    <div>
      <img [src]="letterHeadPreviewUrl" alt="wis-banner" class="wis-banner" />
    </div>

    <kendo-listview
      [data]="dbEntryData"
      containerClass="k-d-flex k-flex-col k-flex-nowrap"
    >
      <ng-template kendoListViewHeaderTemplate>
        <div class="header"><h3>REPORT INFORMATION</h3></div>
      </ng-template>
      <ng-template
        kendoListViewItemTemplate
        let-dataItem="dataItem"
        let-isFirst="isFirst"
      >
        <div class="contact" [class.border-top]="10">
          <div class="contact-details">
            <div class="contact-field">
              Customer name: {{ dbEntryData[0].customerName }}
            </div>
            <div class="contact-field">
              Lot number: {{ dbEntryData[0].lotNum }}
            </div>
            <div class="contact-field">
              Location: {{ dbEntryData[0].testLocation }}
            </div>
            <div class="contact-field">Origin: {{ dbEntryData[0].origin }}</div>
            <div class="contact-field">
              Stations: {{ dbEntryData[0].stations }}
            </div>
            <div class="contact-field">Date created: {{ dateCreated }}</div>
          </div>
        </div>
      </ng-template>
    </kendo-listview>
    <div class="data-grid-wrapper">
      <kendo-grid
        [kendoGridBinding]="dataRows"
        scrollable="scrollable"
        class="qr-data-grid"
      >
        <ng-container *ngFor="let column of dataColumnNames">
          <kendo-grid-column
            [field]="column"
            [title]="column"
          ></kendo-grid-column>
        </ng-container>
      </kendo-grid>
    </div>
  </div>

  <ng-template #loading>
    <div class="loader-wrapper">
      <div class="loader">
        <div class="k-block">
          <kendo-loader
            [type]="loader.type"
            [themeColor]="loader.themeColor"
            [size]="loader.size"
          >
          </kendo-loader>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template *ngIf="!isLoading && dbEntryData[0] == null">
    <p>NOT FOUND!</p>
  </ng-template>
</div>
