<div class="form-body">
  <button class="nav-link" (click)="logOut()">
    Logout <span class="sr-only">(current)</span>
  </button>

  <form
    autocomplete="off"
    [formGroup]="createForm"
    (ngSubmit)="onCreate(createForm.value)"
  >
    <div>
      <label>Name: </label>
      <input type="text" formControlName="name" autocomplete="off" />
    </div>
    <div>
      <label>Test Location: </label>
      <input type="text" formControlName="testLocation" autocomplete="off" />
    </div>
    <div>
      <label>Report Number: </label>
      <input type="text" formControlName="reportNum" autocomplete="off" />
    </div>
    <div>
      <label>Lot Number: </label>
      <input type="text" formControlName="lotNum" autocomplete="off" />
    </div>
    <div>
      <label>Customer Name: </label>
      <input type="text" formControlName="customerName" autocomplete="off" />
    </div>
    <div>
      <label>Origin: </label>
      <input type="text" formControlName="origin" autocomplete="off" />
    </div>
    <div>
      <label>Stations: </label>
      <input type="text" formControlName="stations" autocomplete="off" />
    </div>
    <div>
      <label>Variety: </label>
      <input type="text" formControlName="variety" autocomplete="off" />
    </div>
    <div>
      <label>Excel file(s): </label>
      <input
        type="file"
        formControlName="attachmentUrl"
        name="attachmentUrl"
        (change)="onFileChange($event)"
      />
    </div>
    <button type="submit">Submit</button>
  </form>
</div>

<div *ngFor="let report of reports">
  <div>{{ report?.name }}</div>
  <div>{{ report?.testLocation }}</div>
  <div>{{ report?.reportNum }}</div>
</div>
