<div class="pdf-wrapper">
  <div *ngIf="!isLoading && error == null">
    <div class="pdf-ready-section">
      <h1>Your report is ready!</h1>
      <div class="button-section">
        <button
          type="button"
          kendoButton
          [size]="'large'"
          [rounded]="'medium'"
          [fillMode]="'solid'"
          [themeColor]="'error'"
          (click)="handlBackButton()"
        >
          Create new
        </button>
        <button
          type="button"
          kendoButton
          [size]="'large'"
          [rounded]="'medium'"
          [fillMode]="'solid'"
          [themeColor]="'success'"
          (click)="openPDF(pdfData)"
        >
          Open
        </button>
        <button
          type="button"
          kendoButton
          [size]="'large'"
          [rounded]="'medium'"
          [fillMode]="'solid'"
          [themeColor]="'warning'"
          (click)="downloadPDF(pdfData)"
        >
          Download
        </button>
        <button
          type="button"
          kendoButton
          [size]="'large'"
          [rounded]="'medium'"
          [fillMode]="'solid'"
          [themeColor]="'info'"
          (click)="handleEditTemplate()"
        >
          Edit Template
        </button>
      </div>
    </div>
    <h3>Previous Reports:</h3>
    <kendo-grid [kendoGridBinding]="reports" [filterable]="true" [height]="800">
      <kendo-grid-column field="id" title="Report ID" [filterable]="false">
      </kendo-grid-column>
      <kendo-grid-column field="name" title="Report Name"> </kendo-grid-column>
      <kendo-grid-column field="origin" title="Origin" filter="text">
      </kendo-grid-column>
      <kendo-grid-column
        field="testLocation"
        title="Test Location"
        filter="text"
      >
      </kendo-grid-column>
      <kendo-grid-column
        field="updatedAt"
        title="Date"
        format=" dd/MM/yyyy"
        filter="text"
      >
      </kendo-grid-column>
      <kendo-grid-command-column title="Actions">
        <ng-template kendoGridCellTemplate let-dataItem>
          <button
            button
            type="button"
            kendoButton
            [size]="'small'"
            [rounded]="'small'"
            [fillMode]="'solid'"
            [themeColor]="'success'"
            (click)="openPDF(dataItem)"
          >
            Open
          </button>
          <button
            type="button"
            kendoButton
            [size]="'small'"
            [rounded]="'small'"
            [fillMode]="'solid'"
            [themeColor]="'warning'"
            (click)="downloadPDF(dataItem)"
          >
            Download
          </button>
        </ng-template>
      </kendo-grid-command-column>
    </kendo-grid>
  </div>
  <!-- <ng-template #loading> -->
  <div class="loader-wrapper" *ngIf="isLoading && error == null">
    <div class="loader">
      <div class="loader-title">loading...</div>
      <div class="k-block">
        <kendo-loader
          [type]="loader.type"
          [themeColor]="loader.themeColor"
          [size]="loader.size"
        >
        </kendo-loader>
      </div>
    </div>
  </div>
  <!-- </ng-template> -->
  <div class="error-section" *ngIf="error">
    <p class="alert alert-danger" role="alert">{{ error }}</p>
    <button
      type="button"
      kendoButton
      [size]="'large'"
      [rounded]="'medium'"
      [fillMode]="'solid'"
      [themeColor]="'warning'"
      (click)="handlBackButton()"
    >
      Try again
    </button>
  </div>
</div>
