<div class="pdf-wrapper">
  <div *ngIf="!isLoading; else loading">
    <div class="pdf-ready-section">
      <h2>You report is ready!</h2>
      <div class="button-section">
        <button
          type="button"
          kendoButton
          [size]="'large'"
          [rounded]="'medium'"
          [fillMode]="'solid'"
          [themeColor]="'success'"
          (click)="openPDF(pdfData)"
        >
          Open
        </button>
        <button
          type="button"
          kendoButton
          [size]="'large'"
          [rounded]="'medium'"
          [fillMode]="'solid'"
          [themeColor]="'warning'"
          (click)="downloadPDF(pdfData)"
        >
          Download
        </button>
      </div>
    </div>
    <h3>Previous Reports:</h3>
    <kendo-grid
      [kendoGridBinding]="listOfReports"
      [filterable]="true"
      [height]="800"
    >
      <kendo-grid-column field="id" title="Report ID" [filterable]="false">
      </kendo-grid-column>
      <kendo-grid-column field="name" title="Report Name"> </kendo-grid-column>
      <kendo-grid-column field="origin" title="Origin" filter="text">
      </kendo-grid-column>
      <kendo-grid-column
        field="testLocation"
        title="Test Location"
        filter="text"
      >
      </kendo-grid-column>
      <kendo-grid-column
        field="updatedAt"
        title="Date"
        format="MM/dd/yyyy"
        filter="date"
      >
      </kendo-grid-column>
      <kendo-grid-command-column title="Actions">
        <ng-template kendoGridCellTemplate let-dataItem>
          <button
            button
            type="button"
            kendoButton
            [size]="'small'"
            [rounded]="'small'"
            [fillMode]="'solid'"
            [themeColor]="'success'"
            (click)="openPDF(dataItem)"
          >
            Open
          </button>
          <button
            type="button"
            kendoButton
            [size]="'small'"
            [rounded]="'small'"
            [fillMode]="'solid'"
            [themeColor]="'warning'"
            (click)="downloadPDF(dataItem)"
          >
            Download
          </button>
        </ng-template>
      </kendo-grid-command-column>
    </kendo-grid>
  </div>
  <ng-template #loading>
    <div class="wrap">
      <div class="example-item">
        <div class="example-item-title">loading...</div>
        <div class="k-block">
          <kendo-loader
            [type]="loader.type"
            [themeColor]="loader.themeColor"
            [size]="loader.size"
          >
          </kendo-loader>
        </div>
      </div>
    </div>
  </ng-template>
  <div>
    <p class="alert alert-danger" *ngIf="error" role="alert">{{ error }}</p>
  </div>
</div>
