<div class="edit-page-wrapper">
  <div class="example-wrap" *ngIf="!isLoading; else loading">
    <h1>Edit template</h1>
    <form
      class="k-form k-form-md"
      [formGroup]="createForm"
      (ngSubmit)="onCreate(createForm.value)"
    >
      <fieldset class="k-form-fieldset">
        <kendo-formfield>
          <kendo-label labelCssClass="k-form-label" text="Origin" />
          <kendo-textbox
            formControlName="origin"
            #origin
            placeholder="Origin"
          ></kendo-textbox>
        </kendo-formfield>

        <kendo-formfield>
          <kendo-label labelCssClass="k-form-label" text="Test location" />
          <kendo-textbox
            formControlName="testLocation"
            #testLocation
            placeholder="Enter Location"
          ></kendo-textbox>
        </kendo-formfield>

        <kendo-formfield>
          <kendo-label labelCssClass="k-form-label" text="Local Company Name" />
          <kendo-textbox
            formControlName="localCompanyName"
            #name
            placeholder="Enter company name"
          ></kendo-textbox>
          <kendo-formerror> name is required</kendo-formerror>
        </kendo-formfield>
        <kendo-formfield>
          <kendo-label
            labelCssClass="k-form-label"
            text="Local Company Name Translation"
          />
          <kendo-textbox
            formControlName="localCompanyNameTranslation"
            #localCompanyNameTranslation
            placeholder="Enter company name translation"
          ></kendo-textbox>
          <kendo-formerror>
            company name translation is required</kendo-formerror
          >
        </kendo-formfield>

        <kendo-formfield>
          <kendo-label labelCssClass="k-form-label" text="Address" />
          <kendo-textbox
            formControlName="address"
            #address
            placeholder="Enter the address"
          ></kendo-textbox>
          <kendo-formerror> address is required</kendo-formerror>
        </kendo-formfield>
        <kendo-formfield>
          <kendo-label
            labelCssClass="k-form-label"
            text="Address translation"
          />
          <kendo-textbox
            formControlName="addressTranslation"
            #translation
            placeholder="Enter the address translation"
          ></kendo-textbox>
          <kendo-formerror> address translation is required</kendo-formerror>
        </kendo-formfield>

        <kendo-formfield>
          <kendo-label labelCssClass="k-form-label" text="phone" />
          <kendo-textbox
            formControlName="phone"
            #phone
            placeholder="Enter the phone"
          ></kendo-textbox>
          <kendo-formerror> phone is required</kendo-formerror>
        </kendo-formfield>
        <ng-container *ngIf="selectedHviVersion === 'v5'">
          <kendo-formfield>
            <kendo-label labelCssClass="k-form-label" text="fax" />
            <kendo-textbox
              formControlName="fax"
              #fax
              placeholder="Enter the fax number"
            ></kendo-textbox>
            <kendo-formerror> fax is required</kendo-formerror>
          </kendo-formfield>
        </ng-container>

        <kendo-formfield>
          <kendo-label labelCssClass="k-form-label" text="email" />
          <kendo-textbox
            formControlName="email"
            #email
            placeholder="Enter the email address"
          ></kendo-textbox>
          <kendo-formerror> email is required</kendo-formerror>
        </kendo-formfield>

        <div class="asset-wrapper">
          <div class="select-wrapper">
            <p>LetterHead image upload</p>
            <kendo-fileselect
              formControlName="letterHeadImage"
              (select)="onFileChangeLetterhead($event)"
              [multiple]="false"
            ></kendo-fileselect>
          </div>
          <div *ngIf="letterHeadPreviewUrl">
            <img
              [src]="letterHeadPreviewUrl"
              alt="Preview Image"
              style="max-width: 300px; height: auto"
            />
          </div>
        </div>
        <div class="asset-wrapper">
          <div class="select-wrapper">
            <p>Top certifications stamps</p>
            <kendo-fileselect
              formControlName="certificationImageTop"
              (select)="onFileChangeCertifications($event)"
              [multiple]="false"
            ></kendo-fileselect>
          </div>
          <div *ngIf="certificationImageTopPreviewUrl">
            <img
              [src]="certificationImageTopPreviewUrl"
              alt="Preview Image"
              style="max-width: 300px; height: auto"
            />
          </div>
        </div>

        <div class="asset-wrapper">
          <div class="select-wrapper">
            <p>Stamp Image upload</p>
            <kendo-fileselect
              formControlName="stampImage"
              (select)="onFileChangeStamp($event)"
              [multiple]="false"
            ></kendo-fileselect>
          </div>
          <div *ngIf="stampPreviewUrl">
            <img
              [src]="stampPreviewUrl"
              alt="Preview Image"
              style="max-width: 300px; height: auto"
            />
          </div>
        </div>
        <!--
        <div class="asset-wrapper">
          <div class="select-wrapper">
            <p>Remarks</p>

            <div formArrayName="remarksList">
              <div *ngFor="let control of remarksList.controls; let i = index">
                <div class="inputSection">
                  <kendo-textbox
                    [formControlName]="i"
                    #remarkItem
                    placeholder="Additional text {{ i + 1 }}"
                    style="width: 100%"
                  ></kendo-textbox>
                  <button
                    type="button"
                    class="close"
                    aria-label="Close"
                    (click)="deleteRemark(i)"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            </div>

            <button type="button" (click)="addAdditionalText()">
              Add more remarks
            </button>
          </div>
          <div class="select-wrapper">
            <p>Test and Lab Conditions</p>
            <div formArrayName="testConditionsList">
              <div
                *ngFor="
                  let control of testConditionsList.controls;
                  let i = index
                "
              >
                <div class="inputSection">
                  <kendo-textbox
                    [formControlName]="i"
                    #conditionItem
                    placeholder="Additional text {{ i + 1 }}"
                  ></kendo-textbox>
                  <div class="col-2">
                    <button
                      type="button"
                      class="close"
                      aria-label="Close"
                      (click)="deleteRemark2(i)"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <button type="button" (click)="addAdditionalText2()">
              Add more conditions
            </button>
          </div>
        </div> -->

        <div class="k-form-buttons">
          <button
            kendoButton
            [size]="'large'"
            [rounded]="'medium'"
            [fillMode]="'solid'"
            [themeColor]="'success'"
            type="submit"
          >
            Submit
          </button>
          <button
            type="button"
            kendoButton
            [size]="'large'"
            [rounded]="'medium'"
            [fillMode]="'solid'"
            [themeColor]="'warning'"
            (click)="backToUpload()"
          >
            Back To Upload
          </button>
        </div>
      </fieldset>
    </form>
    <p class="alert alert-danger" *ngIf="error" role="alert">{{ error }}</p>
  </div>
  <ng-template #loading>
    <div class="loader-wrapper">
      <div class="loader">
        <div class="k-block">
          <kendo-loader
            [type]="loader.type"
            [themeColor]="loader.themeColor"
            [size]="loader.size"
          >
          </kendo-loader>
        </div>
      </div>
    </div>
  </ng-template>
</div>
